VITE_SUPABASE_URL="https://supabaseurl.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="supabase_publishable_key"
SUPABASE_SERVICE_ROLE_KEY="supabase_service_role_key"
SUPABASE_FIRST_ADMIN_EMAIL="admin@example.com"
